{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <header></header>
    <main>
        <div>
            <h1>{{list_object.name}}</h1>
            <nav>
                <a href="{% url 'todo_list_update' list_object.id %}">Edit Name</a>
                <a href="{% url 'todo_item_update' list_object.id %}">Edit Item</a>
                <a href="{% url 'todo_list_delete' list_object.id %}">Delete</a>
            </nav>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list_object.items.all %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
